# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
*test.db
*projection.db
*e2e.db
*tasks.db
*test.db
/.idea
.DS_Store
server
.vscode

__debug_bin
.env
/controllers/rest/test.db
